.left-men
{
	background-color:#DADFE1;
}


.top-men
{
	background-color: #2574A9;
}


.mail_preview
{
	position:fixed;
	bottom:-20px;

}
.mail_preview-b
{
	height:auto;
	
}
.body
{

	height:auto;
	overflow: scroll;
	bottom:0px;

}

#preview
{	
	height:autoh;
	overflow-y: scroll;
	overflow-x: none;
	margin-top:0px;
	margin-bottom:0px;
	left:15px;
	right:15px;
	
}
.full
{	
	height:90vh;
}

html, body {
	height: 96%;
	margin: 0;
	padding: 0;
}
.pannel
{
	margin: 0px;
}
.half
{
	height:46vh;
}
.preview
{
	height:43vh;
}
.text-right .glyphicon
{
	color:white;
}

.text-right .glyphicon:hover
{
color:#34495E;
}

.text-right a
{
	padding:0 10px;
}
.no-padding
{
	padding:0px;
}
.tool-mail
{
	height:auto;
	background-color: #67809F;
}
.tool-mail h3 a
{
	color: white;
}